.App {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-x: hidden;
  overflow-y: auto;
}

.App-content {
  max-width: 420px;
  margin: 0 auto;
  padding: 40px;
}
